<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Select columns to display</title>

</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-md-4 mt-5">
                <div class="form-group">
                    <form method="post" th:action="@{plot}" th:object ="${PlotInfo}">
                        <select th:field="*{feature1}" id="feature1">
                            <option value="">Select Feature</option>
                            <option th:each="columName: ${columNames}"
                                    th:value="${columName}"
                                    th:text="${columName}">
                            </option>
                        </select>
                        <select th:field="*{feature2}" id="feature2">
                            <option value="">Select Feature</option>
                            <option th:each="columName: ${columNames}"
                                    th:value="${columName}"
                                    th:text="${columName}">
                            </option>
                        </select>
                        <select id="type", required th:field ="*{type}">
                            <option value="normal">Normal</option>
                            <option value="binaer">Only two classes</option>
                        </select>
                        <input type="submit" value="Create Plot">
                    </form>
                </div>

        </div>

    </div>

</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-select-1.13.9/dist/js/bootstrap-select.js}"></script>

</body>
</html>