<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Feature Plot</title>

</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="form-group">
                <img th:src="${imagepath}" />
                <img th:src="${imagepathSummarized}" />
                </form>
            </div>

        </div>

    </div>

</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-select-1.13.9/dist/js/bootstrap-select.js}"></script>

</body>
</html>

